{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "parser": "babel-eslint",
  "globals": {
    "browser": "readonly",
    "document": "readonly",
    "window": "readonly",
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  }
}
